form{
  width: 100%;
  height: 100%;
}

.dialog-content {
  max-height: 92%;
}
.mat-form-field {
  width: 100%;
}

.input-row {
  padding-bottom: 15px;
}

.close-button{
  float: right;
  top:-24px;
  right:-24px;
}

.close-icon {
  transition: 1s ease-in-out;
}

.close-icon:hover {
  transform: rotate(180deg);
}

::ng-deep .icon-outside .close-button{
  float: right;
  top:-52px;
  right:-52px;
}

::ng-deep .icon-outside .mat-dialog-container {
  overflow: unset
}
