form{
  width: 100%;
  height: 100%;
}

.dialog-content {
  max-height: 92%;
}
.mat-form-field {
  width: 100%;
}

.sticky {
  position: sticky;
}

.small-field {
  width: 50%;
}

.inline-field {
  display: inline-block;
  padding-left: 18px;
}

.input-row {
  padding-bottom: 15px;
}
