.tab-content {
  padding: 10px;
}

.form-row {
  display: block;
  margin: 10px;
}

.form-list-item {
  height: 46px !important;
}

.mat-input-element:disabled {
  color: black;
}

.mat-dialog-content {
  max-height: 100%;
}
