@use '~@angular/material' as mat;
.mat-table {
  width: 100%;
  height: 100%;
  //table-layout: fixed;
  //align-items: stretch;
}

.max-height {
  height: 100%;
}

.mat-checkbox {
  padding-bottom: 0;
}

.overlay {
  width: 99.5%;
  height: 99.5%;
  position: absolute;
  left: 1px;
  top: 1px;
  z-index: -1;
  display: flex;
  background: rgba(0, 0, 0, 0.07);
  flex-direction: row;
  justify-content: center;
  border-radius: 7px 7px 7px 7px;
}

.dnd-dragged-el {
  z-index: 100;
  border: 1px dashed;
}

.overlay.showOverlay {
  z-index: 10;
}

.overlay .overlay-content {
  align-self: center;
  //justify-content: center;
  //align-content: center;
  //align-items: center;
  //text-align: center;
}

.overlay-content mat-icon {
  font-size: 48px;
  //color: $warn;
}

.overlay-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.table-title-header {
  display: flex;
  margin: 0;
  padding: 0;
  height: 46px;
  max-height: 46px;
  //background-color: $primary;
  //background-color: mat.get-color-from-palette($primary);
}

/*.mat-paginator-container {
  min-height: 28px;
}*/

.paginator {
  //background-color: $primary;
  padding-top: 3px;
  //color: whitesmoke;
  font-size: 10px;
}

.paginator-btn-icon {
  font-size: 20px;
}

.table-title-text {
  margin: 0;
  padding: 5px 5px;
  text-align: center;
  flex: 1 1 20%;
  align-self: center;
  //color: whitesmoke;
}

.mat-row {
  -webkit-user-select: none;
}

.mat-row:hover {
  //background-color: #f5f5f5;
  cursor: default;
  .table-widget-row-button {
    display: initial;
  }
}

.mat-header-row {
  height: 30px;
  min-height: 30px;
  //background-color: $primary;
}

.mat-header-cell {
  //color: whitesmoke;
  overflow: hidden;
  text-overflow: ellipsis;
  //white-space: nowrap;
  //box-sizing: border-box;
}

.mat-cell {
  position: relative;
  //padding-right: 2px;
  //padding-left: 2px;
}

.cell {
  //position: absolute;
  //top: 20%;
  //transform: translateY(-50%);
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
}

.mat-column-slotNumber-span {
text-align: center;
}

.cell-text {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-column-slotNumber {
  padding-left: 0 !important;
  width: 5%;
  max-width: 5%;
}

.date-warn {
  //background: #d81b60;
  border: 1px;
  //color: whitesmoke;
  padding: 1px;
  border-radius: 3px;
  //font-size: smaller;
}

.mat-column-name {
  width: 25%;
  max-width: 25%;
}

.mat-column-type {
  width: 15%;
  max-width: 15%;
}

.mat-column-date {
  width: 10%;
  max-width: 10%;
}

.mat-column-date_out {
  width: 10%;
  max-width: 10%;
}

.mat-column-verified {
  width: 3%;
  max-width: 3%;
  padding-bottom: 0!important;
  padding-left: 5px!important;
  padding-right: 5px!important;
}

.mat-column-buttons {
  padding-right: 2%!important;
  width: 5%;
  max-width: 5%;
}

.mat-column-lab {
  width: 10%;
  max-width: 10%;
}

.table-widget-row-button {
  display: none;
}
