<div (window:resize)="calcRowNumber()" [ngClass]="{'max-height': !isLoaded}" draggable="false">
  <div class="table-title-header mat-elevation-z3">
    <button mat-button class="table-title-text" (click)="navigateToTablePage()">
      <span *ngIf="table_def">{{'TABLES.NAMES.' + table_def.name | translate}}</span>
    </button>
    <mat-paginator style="display: none" [pageSize]="rowNumber" [hidePageSize]="true" showFirstLastButtons [length]="dataLength"></mat-paginator>
    <div class="paginator">
      <button [disabled]="!matPaginator.hasPreviousPage()" type="button" (click)="matPaginator.firstPage()" mat-icon-button class="paginator-btn">
        <mat-icon class="paginator-btn-icon">first_page</mat-icon>
      </button>
      <button  [disabled]="!matPaginator.hasPreviousPage()" type="button" (click)="matPaginator.previousPage()" mat-icon-button class="paginator-btn">
        <mat-icon class="paginator-btn-icon">chevron_left</mat-icon>
      </button>
      <button type="button" [disabled]="!matPaginator.hasNextPage()" (click)="matPaginator.nextPage()" mat-icon-button class="paginator-btn">
        <mat-icon class="paginator-btn-icon">chevron_right</mat-icon>
      </button>
      <button [disabled]="!matPaginator.hasNextPage()" type="button" (click)="matPaginator.lastPage()" mat-icon-button class="paginator-btn">
        <mat-icon class="paginator-btn-icon">last_page</mat-icon>
      </button>
    </div>
  </div>
  <div class="overlay-container">
    <mat-table class="mat-elevation-z5" *ngIf="isLoaded" [dataSource]="data">
      <ng-container *ngFor="let column of table_def.columnsDefinition">

        <!-- START OF COMMON COLUMN DEFINITION. IF COLUMN IS SPECIAL, THE DEFINITION IS BELOW THIS BLOCK-->
        <ng-container *ngIf="!column.type.special" [matColumnDef]="column.name">
          <mat-header-cell *matHeaderCellDef>
            <div class="cell">
              <span class="cell-text">{{ 'TABLES.COLUMNS.' + column.name | translate }}</span>
            </div>
          </mat-header-cell>
          <mat-cell (click)="fireTableCellClicked(column.name, row)" *matCellDef="let row">
            <!-- START OF COLUMN SWITCH BY COLUMN.TYPE-->
            <div class="cell" [ngSwitch]="column.type.name" [ngStyle]="{color: row['text_color']}">
              <!-- CASE BOOLEAN -->
              <ng-container *ngSwitchCase="'boolean'">
                <mat-checkbox *ngIf="row.table_ref" (change)="fireTableCellClicked(column.name, row)"
                              [checked]="row[column.name] === 1"></mat-checkbox>
              </ng-container>
              <!-- CASE DATE -->
              <span *ngSwitchCase="'date'" class="cell-text">
              <span *ngIf="row.table_ref && column.name === warnDateColumnName; else defaultDate"
                    [ngClass]="{'date-warn': checkDateRow(row)}">
                {{row[column.name] | date: 'dd/MM'}}
              </span>
              <ng-template #defaultDate ><span>{{row[column.name] | date: 'dd/MM' }}</span></ng-template>
            </span>
              <span *ngSwitchDefault class="cell-text" >{{row[column.name]}}</span>
            </div>
            <!-- END OF COLUMN SWITCH BY COLUMN.TYPE-->
          </mat-cell>
        </ng-container>
        <!-- END OF COMMON COLUMN DEFINITION-->

      </ng-container>

      <!-- START OF SPECIAL COLUMN TYPES DEFINITION-->
      <ng-container matColumnDef="slotNumber">
        <mat-header-cell *matHeaderCellDef><span class="mat-column-slotNumber-span cell-text">#</span></mat-header-cell>
        <mat-cell [ngStyle]="{color: row['text_color']}" *matCellDef="let row" (click)="fireTableCellClicked('slot_number', row)">
          <span class="cell-text mat-column-slotNumber-span">{{row.slot_number | slotNumberTransform: tableId}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="buttons" *ngIf="showButtons">
        <mat-header-cell *matHeaderCellDef [ngStyle]="{display: showButtons ? 'table-cell' : 'none'}"></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button (click)="fireTableCellClicked('delete_row', row)" class="table-widget-row-button"
                  *ngIf="row.table_ref" mat-icon-button>
            <mat-icon [ngStyle]="{'font-size': buttonsSize + 'px'}" class="table-widget-row-icon">cancel</mat-icon>
          </button>
          <button (click)="fireTableCellClicked('open_questionnaires', row)" class="table-widget-row-button"
                  *ngIf="row.table_ref" mat-icon-button>
            <mat-icon [ngStyle]="{'font-size': buttonsSize + 'px'}" class="table-widget-row-icon">check_circle_outline</mat-icon>
          </button>
          <button (click)="fireTableCellClicked('insert_row', row)" class="table-widget-row-button"
                  *ngIf="!row.table_ref" mat-icon-button>
            <mat-icon [ngStyle]="{'font-size': buttonsSize + 'px'}" class="table-widget-row-icon">add_circle</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <!-- END OF SPECIAL COLUMN TYPES DEFINITION-->

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" [ngStyle]="{height: rowSize + 'px', 'min-height': rowSize + 'px' }"
               mwlDraggable [dropData]="row" (dragStart)="onDragEvent('start')" (dragEnd)="onDragEvent('end')"
               dragActiveClass="dnd-dragged-el" [showOriginalElementWhileDragging]="true"
               [validateDrag]="isDragAllowed(row)" matRipple>
      </mat-row>
    </mat-table>
    <div class="overlay" [ngClass]="{showOverlay: showDndOverlay || !isLoaded}" mwlDroppable (drop)="onDropData($event)"
         dragOverClass="dnd-drag-over">
      <div class="overlay-content" >
        <mat-icon *ngIf="showDndOverlay" color="accent" inline="">cloud_download</mat-icon>
        <mat-spinner *ngIf="!isLoaded"></mat-spinner>
      </div>
    </div>
  </div>
</div>
