@mixin container-theme($theme) {
  $background: map-get($theme, background);

  .app-container {
    background-color: mat-color($background, background);
    //background-image: linear-gradient(to bottom right, mat-color($accent), mat-color($primary));
  }
}

.app-container {
  width: 100%;
  //height: 95%;
  height: calc(100% - 23px);
  padding-top: 23px;
}
