@use '~@angular/material' as mat;
@mixin container-theme($theme) {
  $background: map-get($theme, background);

  .app-container {
    background-color: mat.get-color-from-palette($background, background);
    //background-image: linear-gradient(to bottom right, mat.get-color-from-palette($accent), mat.get-color-from-palette($primary));
  }
}

.app-container {
  width: 100%;
  //height: 95%;
  height: calc(100% - 23px);
  padding-top: 23px;
}
