.login-container {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, #9b009b, #f11253);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.login-errors-panel {
  padding-bottom: 10px;
}

.login-form-content {
  display: flex;
  flex-direction: column;
}

.mat-card .login-card{
  width: 15%;
}

//.mat-stroked-button {
//  .mat-button-wrapper {
//    color: whitesmoke;
//  }
//}

.logo {
  width: 128px;
}

.mat-checkbox {
  padding-bottom: 20px;
}
/*
.mat-form-field {
  .mat-input-element {
    color: whitesmoke !important;
    caret-color: whitesmoke !important;
  }

  .mat-form-field-label {
    color: whitesmoke !important;
  }
  .mat-form-field-underline {
    color: whitesmoke !important;
    background-color: mediumpurple !important;
  }
  .mat-form-field-ripple {
    color: whitesmoke !important;
    background-color: whitesmoke !important;

  }
  .mat-form-field-required-marker {
    color: whitesmoke !important;
  }
}

.mat-focused {
  .mat-form-field-label {
    color: #ff884d;
  }
  .mat-form-field-ripple {
    background-color: #ff884d;
  }
  .mat-form-field-required-marker {
    color: #ff884d;
  }
  .mat-input-element {
    color: #ff884d;
  }
}*/
