@use '~@angular/material' as mat;
@import '~@angular/material/theming';

@mixin element-theme($theme) {
  $primary: map-get($theme, primary);


  .foreground-color {
    color: mat.get-color-from-palette($primary);
  }

  .background-color {
    background-color: mat.get-color-from-palette($primary);
    color: mat.get-color-from-palette($primary, default-contrast);
  }
}
