@use '~@angular/material' as mat;
@import '~@angular/material/theming';
@import "~mobile-drag-drop/default.css";
@import '~material-icons/iconfont/material-icons.css';

// always include only once per project
@include mat.core();

// import our custom theme
@import 'app-themes.scss';
@import 'styles.scss-theme.scss';
@import "app/tables/table-widget/table-widget.component.scss-theme.scss";
@import "app/components/login/login.component.scss-theme";
@import "app/questionnaires/questionnaire-answer-widget/questionnaire-answer-widget.component.scss-theme";
//@import "app/tables/row-dialog/row-dialog.component.scss-theme";
@import "element-color";
@import "app/app.component.scss";

// specify theme class eg: <body class="my-theme"> ... </body>
.app-light-theme {
  // use our theme with angular-material-theme mixin
  @include mat.all-component-themes($app-light-theme);
  @include table-widget-theme($app-light-theme);
  @include container-theme($app-light-theme);
  @include login-page-theme($app-light-theme);
  @include global-elements-theme($app-light-theme);
  @include questionnaires-theme($app-light-theme);

  .table-widget-red {
    @include table-widget-theme($red-theme-light);
  }

  .table-widget-pink {
    @include table-widget-theme($pink-theme-light);
  }

  .table-widget-deep-purple {
    @include table-widget-theme($deep-purple-theme-light);
  }

  .table-widget-blue {
    @include table-widget-theme($blue-theme-light);
  }

  .table-widget-cyan {
    @include table-widget-theme($cyan-theme-light);
  }

  .table-widget-teal {
    @include table-widget-theme($teal-theme-light);
  }

  .table-widget-green {
    @include table-widget-theme($green-theme-light);
  }

  .table-widget-amber {
    @include table-widget-theme($amber-theme-light);
  }

  .table-widget-deep-orange {
    @include table-widget-theme($deep-orange-theme-light);
  }

  .table-widget-brown {
    @include table-widget-theme($brown-theme-light);
  }

}

.app-dark-theme {
  // use our theme with angular-material-theme mixin
  @include mat.all-component-themes($app-dark-theme);
  @include table-widget-theme($app-dark-theme);
  @include container-theme($app-dark-theme);
  @include login-page-theme($app-dark-theme);
  @include global-elements-theme($app-dark-theme);
  @include questionnaires-theme($app-dark-theme);

  .table-widget-red {
    @include table-widget-theme($red-theme-dark);
  }

  .table-widget-pink {
    @include table-widget-theme($pink-theme-dark);
  }

  .table-widget-deep-purple {
    @include table-widget-theme($deep-purple-theme-dark);
  }

  .table-widget-blue {
    @include table-widget-theme($blue-theme-dark);
  }

  .table-widget-cyan {
    @include table-widget-theme($cyan-theme-dark);
  }

  .table-widget-teal {
    @include table-widget-theme($teal-theme-dark);
  }

  .table-widget-green {
    @include table-widget-theme($green-theme-dark);
  }

  .table-widget-amber {
    @include table-widget-theme($amber-theme-dark);
  }

  .table-widget-deep-orange {
    @include table-widget-theme($deep-orange-theme-dark);
  }

  .table-widget-brown {
    @include table-widget-theme($brown-theme-dark);
  }
}

.brown {
  @include element-theme($brown-theme-light);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

// temporary fix for expansion panels until Angular Material Issue is fixed,
// see https://github.com/angular/material2/issues/13870 and https://github.com/angular/components/issues/11765
mat-accordion mat-expansion-panel {
  mat-expansion-panel-header {
    height: 40px; // height may be different for you
  }

  .mat-expansion-panel-content {
    height: 0;
  }

  &.mat-expanded {
    mat-expansion-panel-header {
      height: 64px; // height may be different for you
    }

    .mat-expansion-panel-content {
      height: auto;
    }
  }
}
