<form>
  <mat-tab-group>
    <mat-tab label="{{'PAGES.PREFERENCES_DIALOG.GENERALS.TITLE' | translate}}">
      <table>
        <td>
          <span>{{'PAGES.PREFERENCES_DIALOG.GENERALS.ALERT_DAYS_LABEL' | translate}}</span>
        </td>
        <td>
          <mat-form-field>
            <input matInput aria-valuemin="0" min="0" type="number">
          </mat-form-field>
          <span style="padding-left: 7px">{{'PAGES.PREFERENCES_DIALOG.GENERALS.DAYS_LABEL' | translate}}</span>
        </td>
      </table>
    </mat-tab>
  </mat-tab-group>
</form>
